#managerChecklistArea table {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 0px solid #f00;
    margin: 0px;
    padding: 0px;
    font-size:  20px !important;
}

#managerChecklistArea tbody {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 0px solid #f00;
    margin: 0px;
    padding: 0px;
    font-size:  20px !important;
}

#managerChecklistArea th {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 0px solid #f00;
    margin: 0px;
    padding: 5px;
    font-size:  20px !important;
}

#managerChecklistArea tr {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 0px solid #f00;
    margin: 0px;
    padding: 0px;
    font-size:  20px !important;
}

#managerChecklistArea td {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 0px solid #f00;
    margin: 0px;
    padding: 5px;
    font-size:  20px !important;
}

.white-table-row {
    background-color: #fff;
    top: 0;
}

.red-table-row {
    background-color: #f00;
    top: 0;
}

.white-title {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 200%;
    color: #ffffff;
    font-weight: bold;
    align: center;
    margin-left: 40px;
    margin-top: 10px;
    display: inline-block;
}

.white-text {
    color: #fff;
}

.checklist-table{
    width: 100%;
}

.checklist-table td{
    font-size: 20px;
}

.checklist-checkbox {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border:2px solid #555;
}

.checklist-checkbox:checked {
    background: #abd;
}

.checklist-radio {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border-radius: 10px;
    background:white;
    border:2px solid #555;
}

.checklist-radio:checked {
    background: #abd;
    vertical-align: center !important;
}

.listitem {
    list-style-type: disc !important;
}

#managerChecklistArea ul {
    list-style-type: none !important;
}

#managerChecklistArea {
    margin: 0 10px 0 10px !important; 
}

#managerChecklistArea label {
    font-size:  20px !important;
}

#datatables a {
    color:  blue !important;
    text-decoration: none;
}